@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: unset;
    margin: unset;
    box-sizing: unset;
}


body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 370px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.container img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.container h1 {
    font-size: 25px;
    margin-bottom: 30px;
    color: hsl(218, 44%, 22%);
}

.container p {
    margin-bottom: 30px;
    color: hsl(216, 15%, 48%);
}